In [1]:
from itertools import chain, combinations

def powerset(iterable):
    "powerset([1,2,3]) --> () (1,) (2,) (3,) (1,2) (1,3) (2,3) (1,2,3)"
    s = list(iterable)
    return chain.from_iterable(combinations(s, r) for r in range(len(s)+1))

In [2]:
import pandas as pd

In [3]:
def footprint(activity) : 
    trace=list(set(activity))
    trace.sort()
    df=pd.DataFrame([['#']*len(activity) for a in activity],index = activity, columns=activity)
    return df

In [4]:
def writeFootPrint(df, trace) :
    for i in range(len(trace)-1) : 
        p=(trace[i:i+2])
        if df.loc[p[0],p[1]]=='#' :
            df.loc[p[0],p[1]]='>'
            df.loc[p[1],p[0]]='<'
        elif df.loc[p[0],p[1]] =='<' :
            df.loc[p[0],p[1]] = '||'
            df.loc[p[1],p[0]] = '||'
    return df

In [217]:
#assign 5-L1
L= '''
[
<a, d, f, h>, 
<a, c, e, g, c, e, h>, 
<a, d, f, g, d, f, h>, 
<a, f, g, d, f, h>
]
'''

In [18]:
#Assign 5-L2
L='''
[<a, b, d, e, g, i, j>, <a, b, e, d, h, i, j>, <a, b, f, d, g, i, j>, <a, b, f, g, d, i, j>, <a, b, g, d, f, i, j>,
<a, b, d, f, h, i, c, b, e, h, d, i, j>, <a, b, g, f, d, i, c, b, h, f, d, i, j>, <a, b, h, e, d, i, c, b, d, g, e, i, j>
]
'''

In [218]:
#LOG Preprocessing
L=L.replace("<", "[").replace(">","]").replace(",","").replace(" ","").replace("\n","")[1:-1]
T=[]
for l in L : 
    if l=="[" : log=[]; continue
    if l=="]" : T.append(log); log=[]; continue
    log.append(l)

In [220]:
logs=[]
for l in T : 
    logs+=l
    
activity=list(set(logs))
activity.sort()
df=footprint(activity)

In [239]:
complete=pd.DataFrame([['#']*len(activity) for a in activity],index = activity, columns=activity)

In [10]:
for trace in T : 
    complete=writeFootPrint(df,trace)

In [11]:
# T = sets of sequences, in multi level arrays 
#Extract the elements from the logs
DF=[] 

for j in range(len(T)) : # 0 to 8
    #initialization for the foot print consisting of only "#"
    df=pd.DataFrame([['#']*len(activity) for a in activity],index = activity, columns=activity) 
    
    for idx, trace in enumerate(T) : 
        if j==idx : continue #artfically, omitting one trace for each loop 
        #print(j,idx)    
        df=writeFootPrint(df,trace)
    DF.append(df)

In [12]:
for i, df in enumerate(DF) :
    #print(complete==df)
    comp=(complete!=df)
    if sum(comp.sum(axis=1)) == 0 : 
        print(i,"same\n", df, )

0 same
    a  c  d  e  f  g  h
a  #  >  >  #  >  #  #
c  <  #  #  >  #  <  #
d  <  #  #  #  >  <  #
e  #  <  #  #  #  >  >
f  <  #  <  #  #  >  >
g  #  >  >  <  <  #  #
h  #  #  #  <  <  #  #
2 same
    a  c  d  e  f  g  h
a  #  >  >  #  >  #  #
c  <  #  #  >  #  <  #
d  <  #  #  #  >  <  #
e  #  <  #  #  #  >  >
f  <  #  <  #  #  >  >
g  #  >  >  <  <  #  #
h  #  #  #  <  <  #  #

In [13]:
complete

   a  c  d  e  f  g  h
a  #  >  >  #  >  #  #
c  <  #  #  >  #  <  #
d  <  #  #  #  >  <  #
e  #  <  #  #  #  >  >
f  <  #  <  #  #  >  >
g  #  >  >  <  <  #  #
h  #  #  #  <  <  #  #

# Above do not touch

In [721]:
#Assign 5-L2
L='''
[<a, b, c>, <e, b, f>, <a, b, d>]
'''

In [722]:
#LOG Preprocessing
L=L.replace("<", "[").replace(">","]").replace(",","").replace(" ","").replace("\n","")[1:-1]
T=[]
for l in L : 
    if l=="[" : log=[]; continue
    if l=="]" : T.append(log); log=[]; continue
    log.append(l)

In [723]:
logs=[]
for l in T : 
    logs+=l
    
activity=list(set(logs))
activity.sort()
df=footprint(activity)

In [724]:
complete=pd.DataFrame([['#']*len(activity) for a in activity],index = activity, columns=activity)

In [725]:
def writeFootPrint2(direct_relation,parallel_relation, df, trace) :
    for i in range(len(trace)-1) : 
        p=(trace[i:i+2])
        print(p)
        
        if df.loc[p[0],p[1]]=='#' :
            df.loc[p[0],p[1]]='>'
            df.loc[p[1],p[0]]='<'
            direct_relation.append(p)
        elif df.loc[p[0],p[1]] =='<' :
            df.loc[p[0],p[1]] = '||'
            df.loc[p[1],p[0]] = '||'
            try :
                print("remove",p)
                direct_relation.remove(p)
                
            except :
                print("error")
                
            try :
                #print("remove -r ",p)
                p.reverse()
                direct_relation.remove(p)
                
            except :
                print("error-r")    
               
            
            parallel_relation.append(p)
    return direct_relation, parallel_relation, df

In [726]:
parallel_relation=[]
direct_relation=[]
for trace in T : 
    direct_relation, parallel_relation,complete=writeFootPrint2(direct_relation, parallel_relation, df,trace)

['a', 'b']
['b', 'c']
['e', 'b']
['b', 'f']
['a', 'b']
['b', 'd']

In [727]:
complete

   a  b  c  d  e  f
a  #  >  #  #  #  #
b  <  #  >  >  <  >
c  #  <  #  #  #  #
d  #  <  #  #  #  #
e  #  >  #  #  #  #
f  #  <  #  #  #  #

In [728]:
direct_relation.sort()

In [729]:
direct_relation

[['a', 'b'], ['b', 'c'], ['b', 'd'], ['b', 'f'], ['e', 'b']]

In [730]:
complete

   a  b  c  d  e  f
a  #  >  #  #  #  #
b  <  #  >  >  <  >
c  #  <  #  #  #  #
d  #  <  #  #  #  #
e  #  >  #  #  #  #
f  #  <  #  #  #  #

In [731]:
parallel_relation.sort()
parallel_relation

[]

candidate=[]
for i in range(len(complete)):
    name=complete.iloc[i].name
    follow=list(complete.iloc[i][complete.iloc[i]=='>'].keys())
    if follow :
        print(name, follow)
        if len(follow) > 1 :
            print("folllo length>1")
            for i in range(len(follow)-1) :
                j2=len(follow)-1-i
                for j in range(j2) : 
                    print(j,j2, follow[j],follow[j2])
                    check=complete.loc[follow[j],follow[j2]]
                    if check=='#' :  
                        print("this relation can be added", name, follow[j], follow[j2], check )
                        candidate.append([name,follow[j]+follow[j2]])

In [732]:
def merge(candidate) :
    candidate2=[]
    for i in range(len(candidate)-1) :
        j2=len(candidate)-1-i
        for j in range(j2) :
            a=candidate[j]
            b=candidate[j2]
            lhs=a[0]==b[0]
            rhs=a[1]==b[1]
            print(j,j2, a, b, a[0]==b[0], a[1]==b[1])
            if lhs:
                print("lhs",a,b)
                p=list(
                    (set(a[1]+b[1]) - set(a[1])) | 
                    (set(a[1]+b[1]) - set(b[1]))
                    )
                print("lhs - p", p)
                if (complete.loc[p[0],p[1]]) == '#' :
                    item =  [a[0], (''.join(list(set(a[1]) | set(b[1]))))]
                    print(item, "added lhs")
                    if item not in candidate2 : candidate2.append(item)
            if rhs:
                print("rhs",a,b)
                p=list(
                    (set(a[0]+b[0]) - set(a[0])) | 
                    (set(a[0]+b[0]) - set(b[0]))
                    )
                print("rhs - p", p)
                if (complete.loc[p[0],p[1]]) == '#' :
                    item =  [(''.join(list(set(a[0]) | set(b[0])))), a[1]]
                    print(item, "added rhs")
                    if item not in candidate2 : candidate2.append(item)
    candidate2.sort()
    return candidate2

In [733]:
total =direct_relation
data=direct_relation
while(True) :
    result=merge(data)
    print(result)
    if len(result)==0 : break
    total += result 
    
    data=result

0 4 ['a', 'b'] ['e', 'b'] False True
rhs ['a', 'b'] ['e', 'b']
rhs - p ['e', 'a']
['ea', 'b'] added rhs
1 4 ['b', 'c'] ['e', 'b'] False False
2 4 ['b', 'd'] ['e', 'b'] False False
3 4 ['b', 'f'] ['e', 'b'] False False
0 3 ['a', 'b'] ['b', 'f'] False False
1 3 ['b', 'c'] ['b', 'f'] True False
lhs ['b', 'c'] ['b', 'f']
lhs - p ['f', 'c']
['b', 'fc'] added lhs
2 3 ['b', 'd'] ['b', 'f'] True False
lhs ['b', 'd'] ['b', 'f']
lhs - p ['f', 'd']
['b', 'df'] added lhs
0 2 ['a', 'b'] ['b', 'd'] False False
1 2 ['b', 'c'] ['b', 'd'] True False
lhs ['b', 'c'] ['b', 'd']
lhs - p ['d', 'c']
['b', 'dc'] added lhs
0 1 ['a', 'b'] ['b', 'c'] False False
[['b', 'dc'], ['b', 'df'], ['b', 'fc'], ['ea', 'b']]
0 3 ['b', 'dc'] ['ea', 'b'] False False
1 3 ['b', 'df'] ['ea', 'b'] False False
2 3 ['b', 'fc'] ['ea', 'b'] False False
0 2 ['b', 'dc'] ['b', 'fc'] True False
lhs ['b', 'dc'] ['b', 'fc']
lhs - p ['f', 'd']
['b', 'dfc'] added lhs
1 2 ['b', 'df'] ['b', 'fc'] True False
lhs ['b', 'df'] ['b', 'fc']
lhs - p ['d', 'c']
['b', 'dfc'] added lhs
0 1 ['b', 'dc'] ['b', 'df'] True False
lhs ['b', 'dc'] ['b', 'df']
lhs - p ['f', 'c']
['b', 'dfc'] added lhs
[['b', 'dfc']]
[]

In [734]:
total

[['a', 'b'],
 ['b', 'c'],
 ['b', 'd'],
 ['b', 'f'],
 ['e', 'b'],
 ['b', 'dc'],
 ['b', 'df'],
 ['b', 'fc'],
 ['ea', 'b'],
 ['b', 'dfc']]

In [436]:
c2=merge(c1)

rhs ['a', 'cd'] ['g', 'cd']
rhs - p ['a', 'g']
rhs ['e', 'gh'] ['f', 'gh']
rhs - p ['f', 'e']
lhs ['ef', 'g'] ['ef', 'h']
lhs - p ['h', 'g']
lhs ['ag', 'c'] ['ag', 'd']
lhs - p ['d', 'c']

In [437]:
c2

[['ag', 'cd'], ['ef', 'gh']]

In [438]:
direct_relation + c + c2

[['a', 'c'],
 ['a', 'd'],
 ['b', 'f'],
 ['c', 'e'],
 ['d', 'f'],
 ['e', 'g'],
 ['e', 'h'],
 ['f', 'g'],
 ['f', 'h'],
 ['g', 'c'],
 ['g', 'd'],
 ['a', 'cd'],
 ['ag', 'c'],
 ['ag', 'd'],
 ['bd', 'f'],
 ['e', 'gh'],
 ['ef', 'g'],
 ['ef', 'h'],
 ['f', 'gh'],
 ['g', 'cd'],
 ['ag', 'cd'],
 ['ef', 'gh']]