In [17]:
t1=['a','g','f','h']
t2=['a','f','g','c','e','g','c','e','h']
t3=['a','d','f','g','d','f','h']
t4=['a','f','g','d','f','h']

In [3]:
L= '''
[<a, b, c, d, e, f, b, d, c, e, g>,
<a, b, d, c, e, g>,
<a, b, c, d, e, f, b, c, d, e, f, b, d, c, e, g>]'''

In [12]:
L=L.replace("<", "[").replace(">","]").replace("\n","")

In [15]:
L

'[[a, b, c, d, e, f, b, d, c, e, g],[a, b, d, c, e, g],[a, b, c, d, e, f, b, c, d, e, f, b, d, c, e, g]]'

In [14]:
[str(l) for l in L]

['[',
 '[',
 'a',
 ',',
 ' ',
 'b',
 ',',
 ' ',
 'c',
 ',',
 ' ',
 'd',
 ',',
 ' ',
 'e',
 ',',
 ' ',
 'f',
 ',',
 ' ',
 'b',
 ',',
 ' ',
 'd',
 ',',
 ' ',
 'c',
 ',',
 ' ',
 'e',
 ',',
 ' ',
 'g',
 ']',
 ',',
 '[',
 'a',
 ',',
 ' ',
 'b',
 ',',
 ' ',
 'd',
 ',',
 ' ',
 'c',
 ',',
 ' ',
 'e',
 ',',
 ' ',
 'g',
 ']',
 ',',
 '[',
 'a',
 ',',
 ' ',
 'b',
 ',',
 ' ',
 'c',
 ',',
 ' ',
 'd',
 ',',
 ' ',
 'e',
 ',',
 ' ',
 'f',
 ',',
 ' ',
 'b',
 ',',
 ' ',
 'c',
 ',',
 ' ',
 'd',
 ',',
 ' ',
 'e',
 ',',
 ' ',
 'f',
 ',',
 ' ',
 'b',
 ',',
 ' ',
 'd',
 ',',
 ' ',
 'c',
 ',',
 ' ',
 'e',
 ',',
 ' ',
 'g',
 ']',
 ']']

In [9]:
log2=[
    ['a', 'b', 'd', 'e', 'g', 'i', 'j'], 
    ['a', 'b', 'e', 'd', 'h', 'i', 'j'], 
    ['a', 'b', 'f', 'd', 'g', 'i', 'j'], 
    ['a', 'b', 'f', 'g', 'd', 'i', 'j'], 
    ['a', 'b', 'g', 'd', 'f', 'i', 'j'],
    ['a', 'b', 'd', 'f', 'h', 'i', 'c', 'b', 'e', 'h', 'd', 'i', 'j'], 
    ['a', 'b', 'g', 'f', 'd', 'i', 'c', 'b', 'h', 'f', 'd', 'i', 'j'], 
    ['a', 'b', 'h', 'e', 'd', 'i', 'c', 'b', 'd', 'g', 'e', 'i', 'j'],
]

In [1]:
import pandas as pd

In [115]:
def footprint(trace) : 
    trace=list(set(trace))
    trace.sort()
    df=pd.DataFrame([['#']*len(trace) for a in trace],index = trace, columns=trace)
    return df

In [301]:
L1= [
    ["a","d","f","h"],                      #0
    ["a","c","e","g","c","e","h"],          #1
    ["a","d","f","g","d","f","h"],          #2
    ["a","f","g","d","f","h"]               #3
]

L2= [
    ["a","b","d","e","g","i","j"],  #0
    ["a","b","e","d","h","i","j"],  #1
    ["a","b","f","d","g","i","j"],  #2
    ["a","b","f","g","d","i","j"],  #3
    ["a","b","g","d","f","i","j"],  #4
    ["a","b","d","f","h","i","c","b","e","h","d","i","j"], #5 
    ["a","b","g","f","d","i","c","b","h","f","d","i","j"], #6
    ["a","b","h","e","d","i","c","b","d","g","e","i","j"], #7
]

In [291]:
def writeFootPrint(df, trace) : 
    for i in range(len(trace)-1) : 
        p=(trace[i:i+2])
        if df.loc[p[0],p[1]]=='#' : 
            df.loc[p[0],p[1]]='>'
            df.loc[p[1],p[0]]='<'
        elif df.loc[p[0],p[1]] =='<' :
            df.loc[p[0],p[1]] = '||'
            df.loc[p[1],p[0]] = '||'
    return df

In [296]:
T=L2

In [297]:
logs=[]
for l in T : 
    logs+=l
    
activity=list(set(logs))
activity.sort()

In [298]:
complete=pd.DataFrame([['#']*len(activity) for a in activity],index = activity, columns=activity) 
for trace in T : 
    complete=writeFootPrint(df,trace)

In [299]:
# T = sets of sequences, in multi level arrays 
#Extract the elements from the logs
DF=[] 

for j in range(len(T)) : # 0 to 8
    #initialization for the foot print consisting of only "#"
    df=pd.DataFrame([['#']*len(activity) for a in activity],index = activity, columns=activity) 
    
    for idx, trace in enumerate(T) : 
        if j==idx : continue #artfically, omitting one trace for each loop 
        #print(j,idx)    
        df=writeFootPrint(df,trace)
    DF.append(df)

In [300]:
for i, df in enumerate(DF) :
    #print(complete==df)
    comp=(complete!=df)
    if sum(comp.sum(axis=1)) == 0 : 
        print(i,"same\n", df, )

2 same
    a  b  c   d   e   f   g   h  i  j
a  #  >  #   #   #   #   #   #  #  #
b  <  #  <   >   >   >   >   >  #  #
c  #  >  #   #   #   #   #   #  <  #
d  #  <  #   #  ||  ||  ||  ||  >  #
e  #  <  #  ||   #   #  ||  ||  >  #
f  #  <  #  ||   #   #  ||  ||  >  #
g  #  <  #  ||  ||  ||   #   #  >  #
h  #  <  #  ||  ||  ||   #   #  >  #
i  #  #  >   <   <   <   <   <  #  >
j  #  #  #   #   #   #   #   #  <  #

In [305]:
df

   a  b  c   d   e   f   g   h  i  j
a  #  >  #   #   #   #   #   #  #  #
b  <  #  <   >   >   >   >   >  #  #
c  #  >  #   #   #   #   #   #  <  #
d  #  <  #   #  ||  ||  ||  ||  >  #
e  #  <  #  ||   #   #   >   >  #  #
f  #  <  #  ||   #   #  ||  ||  >  #
g  #  <  #  ||   <  ||   #   #  >  #
h  #  <  #  ||   <  ||   #   #  >  #
i  #  #  >   <   #   <   <   <  #  >
j  #  #  #   #   #   #   #   #  <  #

In [308]:
df.loc['a',:]

a    #
b    >
c    #
d    #
e    #
f    #
g    #
h    #
i    #
j    #
Name: a, dtype: object